.idea/
composer.lock
/config/services.yaml
!/public/download/mp3/.gitignore
yarn.lock
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/symfony.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
