.idea/
composer.lock
/config/services.yaml
!/public/download/mp3/.gitignore
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/symfony.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
